<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Identity.Client" version="4.40.0" targetFramework="net472" />
  <package id="Microsoft.PowerShell.3.ReferenceAssemblies" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.1072.54" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="System.Management.Automation" version="7.2.1" targetFramework="net472" />
</packages>